/**
 * Forms.
 */
.form-item {
  margin: rhythm(1) 0;
  .form-checkboxes & ,
  .form-radios & {
    margin: 0;
  }
  tr.odd &,
  tr.even & {
    margin: 0;
  }
  input.error,
  textarea.error,
  select.error {
    border: 1px solid #c00;
  }
  .description {
    font-size: 0.85em;
  }
}
.form-type-radio,
.form-type-checkbox {
  .description {
    margin-left: 2.4em;
  }
}
.form-required {
  color: #c00;
}
label.option {
  display: inline;
  font-weight: normal;
}
a.button {
  @include appearance(button);
}
.password-parent,
.confirm-parent {
  margin: 0;
}
#user-login-form {
  text-align: left;
}
