/**
 * Branding header.
 */
.header__logo {
  float: left;
  margin: 0;
  padding: 0;
}
.header__logo-image {
  vertical-align: bottom;
}
.header__name-and-slogan {
  float: left;
}
.header__site-name {
  margin: 0;
  @include adjust-font-size-to( $h1-font-size );
}
.header__site-link {
  &:link,
  &:visited {
    color: #000;
    text-decoration: none;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.header__site-slogan {
  margin: 0;
}
.header__secondary-menu {
  float: right;
}
.header__region {
  clear: both;
}
