/**
 * @file
 * SMACSS Modules
 */
.with-wireframes {
  #header,
  #main,
  #content,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .region-bottom {
    outline: 1px solid #ccc;
  }
}
/**
 * Accessibility features.
 */
.element-invisible,
%element-invisible {
  @include element-invisible;
}
%element-invisible-off {
  @include element-invisible-off;
}
.element-focusable,
%element-focusable {
  @extend %element-invisible;
  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}
#skip-link {
  margin: 0;
  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.page__title,
.node__title,
.block__title,
.comments__title,
.comments__form-title,
.comment__title {
  margin: 0;
}

/**
 * Inline styles.
 */
.inline {
  display: inline;
  padding: 0;
  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}
span.field-label {
  padding: 0 1em 0 0;
}
/**
 * "More" links.
 */
.more-link {
  text-align: right;
}
.more-help-link {
  text-align: right;
}
.more-help-link a {
  background-image: inline-image("help.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px;
}
/**
 * Pager.
 */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}
%pager__item {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
}
.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  @extend %pager__item;
}
.pager-current {
  @extend %pager__item;
  font-weight: bold;
}
/**
 * Blocks.
 */
.block {
  margin-bottom: rhythm(1);
}

/**
 * Marker.
 */
.new,
.update {
  color: #c00;
  background-color: transparent;
}
/**
 * Unpublished note.
 */
.unpublished {
  height: 0;
  overflow: visible;
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/**
 * Comments.
 */
.comments {
  margin: rhythm(1) 0;
}
.comment-preview {
  background-color: #ffffea;
}
.comment {
  .permalink {
    text-transform: uppercase;
    font-size: 75%;
  }
}
.indented {
  margin-left: $indent-amount;
}


/**
 * Drupal admin tables.
 */
form {
  th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
  tbody {
    border-top: 1px solid #ccc;
  }
  table ul {
    margin: 0;
  }
}
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
tr.even {
  background-color: #fff;
}
td.active {
  background-color: #ddd;
}
td.checkbox,
th.checkbox {
  text-align: center;
}
td.menu-disabled {
  background: #ccc;
}
/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}
/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
.fieldset-legend {
  html.js .collapsible & {
    background-image: inline-image("menu-expanded.png");
    background-position: 5px 65%;
    background-repeat: no-repeat;
    padding-left: 15px;
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed.png");
    background-position: 5px 50%;
  }
  .summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
  }
}
/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}
/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}
/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
  .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
  .filled {
    background-color: #0072b9;
    background-image: image-url("progress.gif");
  }
}
