//
// Initialization partial
//

// =============================================================================
// Variables
// =============================================================================

// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/
$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// Create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
// Create some variables for the font stacks we want to use on this site.
$base-font-family: $verdana;
$font-body:        $verdana;
$font-monospace:   $courier;

//
// Colors, etc.
//

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;
// The height of the navigation container.
$nav-height: 3em;
// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================
@import "compass/support";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/sprites";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "zen";
// Add our custom helper mixins.
@import "mixins";
