/**
 * @file
 * Normalize.css is intended to be used as an alternative to CSS resets.
 *
 * Fixes a variety of bugs in different browsers by implementing sane defaults
 * for CSS properties that may not be consistent between browsers.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: $base-font-family;
  font-size: 100% * ($base-font-size / 16px);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include adjust-leading-to(1);
}

body {
  margin: 0;
  padding: 0;
}

a:link {
}

a:visited {
}

a:hover,
a:focus {
}

a:active {
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

p,
pre {
  margin: rhythm(1) 0;
}

blockquote {
  margin: rhythm(1) $indent-amount;
}

h1 {
  @include adjust-font-size-to($h1-font-size);
  @include leader(1, $h1-font-size);
  @include trailer(1, $h1-font-size);
}

h2 {
  @include adjust-font-size-to($h2-font-size);
  @include leader(1, $h2-font-size);
  @include trailer(1, $h2-font-size);
}

h3 {
  @include adjust-font-size-to($h3-font-size);
  @include leader(1, $h3-font-size);
  @include trailer(1, $h3-font-size);
}

h4 {
  @include adjust-font-size-to($h4-font-size);
  @include leader(1, $h4-font-size);
  @include trailer(1, $h4-font-size);
}

h5 {
  @include adjust-font-size-to($h5-font-size);
  @include leader(1, $h5-font-size);
  @include trailer(1, $h5-font-size);
}

h6 {
  @include adjust-font-size-to($h6-font-size);
  @include leader(1, $h6-font-size);
  @include trailer(1, $h6-font-size);
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  @include box-sizing(content-box);
  height: 0;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: rhythm(1) 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp,
tt,
var {
  font-family: $font-monospace;
  @include adjust-font-size-to($base-font-size);
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: rhythm(1) 0;
}

ol,
ul {
  ol,
  ul {
    margin: 0;
  }
}

dd {
  margin: 0 0 0 $indent-amount;
}

menu,
ol,
ul {
  padding: 0 0 0 $indent-amount;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  margin: 0 2px;
  border-color: #c0c0c0;
  @include apply-side-rhythm-border(top, $width: 1px, $lines: 0.35);
  @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0.65);
  @include apply-side-rhythm-border(left, $width: 1px, $lines: 0.65);
  @include apply-side-rhythm-border(right, $width: 1px, $lines: 0.65);
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  @include box-sizing(border-box);
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  @include box-sizing(border-box);
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  @include box-sizing(content-box);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

label {
  display: block;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  @include leader(1);
  @include trailer(1);
}
